* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

window#waybar {
    background: transparent;
    color: #cdd6f4; /* text */
    border-radius: 9px;
    margin: 12px 100px;
}

/* Base module styling */
#window,
#custom-media,
#mpd,
#idle_inhibitor,
#pulseaudio,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#backlight,
#keyboard-state,
#sway-language,
#battery,
#clock,
#tray,
#custom-launcher,
#custom-power {
    background-color: #1e1e2e; /* base */
    color: #f38ba8; /* red */
    border-radius: 3px;
    border: solid 2px;
    border-color: #89b4fa; /* blue */
    padding: 5px 10px;
    margin: 8px 4px;
}

#custom-launcher {
    padding: 5px 12px;
}

/* Workspaces container */
#workspaces {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 8px 4px;
}

#workspaces button {
    padding: 0 8px;
    border: solid 2px;
    border-color: #89b4fa;
    background-color: #1e1e2e;
    color: #89b4fa;
    border-radius: 3px;
    margin: 0 2px;
}

#workspaces button:hover {
    background: #89b4fa;
    color: #1e1e2e;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: #1e1e2e;
    color: #f38ba8;
}

#workspaces button.urgent {
    background-color: #f38ba8;
    color: #1e1e2e;
}

/* Module-specific coloring */
#backlight {
    background-color: #1e1e2e;
    color: #a6e3a1; /* green */
}

#memory {
    background-color: #1e1e2e;
    color: #f9e2af; /* yellow */
}

#battery {
    background-color: #1e1e2e;
    color: #cba6f7; /* mauve */
}

#battery.charging,
#battery.plugged {
    color: #1e1e2e;
    background-color: #a6e3a1; /* green */
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #1e1e2e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    background-color: #1e1e2e;
    color: #89dceb; /* sky */
}

#pulseaudio {
    background-color: #1e1e2e;
    color: #a6e3a1;
}

#pulseaudio.muted {
    background-color: #45475a; /* surface1 */
    color: #cdd6f4;
}

/* Optional visualizer (cava) */
#cava {
    background-color: #1e1e2e;
    color: #89b4fa;
    border-radius: 3px;
    font-family: "Iosevka Nerd Font";
    border: solid 2px;
    border-color: #89b4fa;
    padding: 2px 12px;
    margin: 8px 4px;
}

@keyframes blink {
    to {
        background-color: #cdd6f4;
        color: #1e1e2e;
    }
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

