* {
    font-family: "IosevkaTerm Nerd Font Propo", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

window#waybar {
    background: transparent;
    color: #d4be98;
    border-radius: 9px;
    margin: 12px 100px;
}

/* Base module styling */
#window,
#custom-media,
#mpd,
#idle_inhibitor,
#pulseaudio,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#backlight,
#keyboard-state,
#sway-language,
#battery,
#clock,
#tray,
#custom-launcher,
#custom-power {
    background-color: transparent;
    color: inherit;
    padding: 3px 10px;   /* balanced */
    margin: 0;
    border: none;
    border-radius: 0;
}

/* Launcher */
#custom-launcher {
    background-color: #1d2021;
    color: #ea6962;
    border: solid 2px #7daea3;
    padding: 3px 8px;
    margin: 6px 4px;
}

/* MPD */
#mpd {
    background-color: #1d2021;
    color: #a9b665;
    padding: 3px 8px;
    margin: 6px 4px;
}

/* Window title */
#window {
    background-color: #1d2021;
    border: solid 2px #7daea3;
    color: #7daea3;
    padding: 3px 8px;
    margin: 6px 4px;
}

/* Center modules */
.modules-center {
    background-color: #1d2021;
    border: solid 2px #7daea3;
    color: #ea6962;
    padding: 3px 8px;
    margin: 6px 4px;
}

/* Right modules */
.modules-right {
    background-color: #1d2021;
    border: solid 2px #7daea3;
    padding: 3px 8px;
    margin: 6px 4px;
}

#tags {
    background-color: #1d2021;
    border: solid 2px #7daea3;
    padding: 0;
    margin: 6px 4px;
}

#tags button {
    padding: 3px 10px; 
    background-color: transparent;
    color: #83a598;
}

/* Hover */
#tags button:hover {
    background-color: #3c3836;
    color: #ddc7a1;
}

/* Active */
#tags button.focused,
#tags button.active {
    color: #ea6962;
}

/* Urgent */
#tags button.urgent {
    background-color: #ea6962;
    color: #282828;
}

/* Module colors */
#backlight  { color: #d8a657; }
#memory     { color: #e78a4e; }
#battery    { color: #d3869b; }
#network    { color: #d8a657; }
#pulseaudio { color: #7daea3; }

#battery.charging,
#battery.plugged {
    color: #a9b665;
}

#pulseaudio.muted {
    color: #ea6962;
}

/* Critical battery */
#battery.critical:not(.charging) {
    background-color: #ea6962;
    color: #d4be98;
    animation: blink 0.5s steps(12) infinite alternate;
}

/* Cava */
#cava {
    background-color: #1d2021;
    color: #89b482;
    font-family: "Iosevka Nerd Font";
    border: solid 2px #89b482;
    padding: 3px 12px;   /* wider but same height */
    margin: 6px 4px;
}

@keyframes blink {
    to {
        background-color: #d4be98;
        color: #282828;
    }
}

/* Edge fixes */
.modules-left > widget:first-child > #tags {
    margin-left: 0;
}
.modules-right > widget:last-child > #tags {
    margin-right: 0;
}

