* {
      font-family: "IosevkaTerm Nerd Font Propo";
      font-weight: bold;
      font-size: 17px;
      text-shadow: none;
      transition: none;
      box-shadow: none;
}

#waybar {
      background: none;
      color: #ebdbb2;
      margin: 0px 180px;
}

#window,
#mpd,
#idle_inhibitor,
#mpris,
#pulseaudio,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#backlight,
#keyboard-state,
#sway-language,
#battery,
#clock,
#tray,
#custom-launcher {
      color: inherit;
      padding: 0 7px;
      margin: 0;
}

#custom-launcher {
      background-color: #ea6962;
      color: #3c3836;
      border: solid 2px #cc241d;
      padding: 0 7px;
      margin: 0;
}

#window {
      background-color: #3c3836;
      border: solid 2px #665c54;
      color: #ebdbb2;
      border-radius: 0;
      padding: 0 7px;
      margin: 0;
}

.modules-center,
.modules-right,
.modules-left {
      background: #1d2021;
      border: none; 
      border-radius: 0;
      padding: 5px 5px;
      margin: 0px;
}

#tags {
      background-color: #1d2021;
      border-radius: 0;
      border: none; 
      margin: 0px -5px 0px -5px;
      padding: 0 7px;
}

#tags button {
      padding: 0px 5px;
      margin: 0px 2px;
      border: solid 2px #665c54;
      background-color: #3c3836;
      color: #83a598;
      border-radius: 0;
}

#tags button:first-child,
#tags button:last-child {
      border-radius: 0;
}

#tags button:hover {
      background-color: #282828;
      color: #ebdbb2;
}

#tags button.focused,
#tags button.active {
      background-color: #3c3836;
      color: #EA6962;
}

#tags button.urgent {
      background-color: #EA6962;
      color: #fbf1c7;
}

#backlight {
      background-color: #3c3836;
      border: solid 2px #665c54;
      color: #ebdbb2;
      padding: 0 7px;
      margin: 0;
}

#mpd {
      background-color: #3c3836;
      border: solid 2px #665c54;
      color: #ebdbb2;
      padding: 0 7px;
      margin: 0;
}

#mpris {
      background-color: #3c3836;
      border: solid 2px #665c54;
      color: #ebdbb2;
      padding: 0 7px;
      margin: 0;
}

#memory {
      background-color: #3c3836;
      border: solid 2px #665c54;
      color: #ebdbb2;
      padding: 0 7px;
      margin: 0;
}

#battery {
      background-color: #3c3836;
      border: solid 2px #665c54;
      color: #ebdbb2;
      padding: 0 7px;
      margin: 0;
}

#battery.charging,
#battery.plugged {
      color: #ebdbb2;
      background-color: #3c3836;
}

#battery.critical:not(.charging) {
      background-color: #EA6962;
      color: #ebdbb2;
      animation-name: blink;
      animation-duration: 0.5s;
      animation-timing-function: steps(12);
      animation-iteration-count: infinite;
      animation-direction: alternate;
}

#network {
      background-color: #3c3836;
      border: solid 2px #665c54;
      color: #ebdbb2;
      padding: 0 7px;
      margin: 0;
}

#pulseaudio {
      background-color: #3c3836;
      border: solid 2px #665c54;
      color: #ebdbb2;
      padding: 0 7px;
      margin: 0;
}

#clock {
      color: #ebdbb2;
      border: solid 2px #665c54;
      background-color: #3c3836;
      padding: 2px 7px;
      margin: 0;
}

#pulseaudio.muted {
      background-color: #3c3836;
      color: #ebdbb2;
}

#cava {
      background-color: #3c3836;
      color: #ebdbb2;
      font-family: "IosevkaTerm Nerd Font Propo";
      border: solid 2px #665c54;
      padding: 0 7px;
      margin: 0;
}

@keyframes blink {
to {
      background-color: #fbf1c7;
      color: #3c3836;
}
}

.modules-left > widget:first-child > #tags,
.modules-right > widget:last-child > #tags {
      margin: 0;
}
