* {
    background:     #1d2021FF;
    background-alt: #3c3836FF;
    foreground:     #ebdbb2FF;
    selected:       #cc241dFF;
    selected1:      #d79921FF;
    active:         #98971aFF;
    urgent:         #cc241dFF;
}

