* {
    font-family: "IosevkaTerm Nerd Font Propo";
    font-weight: bold;
    font-size: 16px;
    text-shadow: none;
    transition: none;
    box-shadow: none;
}

#waybar {
    background: none;
    color: #ebdbb2;
    margin: 0;
    padding: 0 10px;
    min-height: 0;
}

#window,
#mpd,
#idle_inhibitor,
#mpris,
#pulseaudio,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#backlight,
#keyboard-state,
#sway-language,
#battery,
#clock,
#tray,
#custom-launcher {
    background-color: transparent;
    color: inherit;
    padding: 0 7px;
    margin: 0;
}

#custom-launcher {
    background-color: #ea6962;
    color: #1d2021;
    border: solid 2px #e3433b;
    padding: 0 7px;
    margin: 0;
}

#window {
    background-color: #1d2021;
    border: solid 2px #83a598;
    color: #ebdbb2;
    border-radius: 0;
    padding: 0 7px;
    margin: 0;
}

.modules-center,
.modules-right,
.modules-left {
    background-color: #1d2021;
    border: none; 
    border-radius: 0;
    padding: 5px 5px;
    margin: 0px;
}

#workspaces {
    background-color: #1d2021;
    border-radius: 0;
    border: none; 
    margin: 0px -5px 0px -5px;
    padding: 0 7px;
}

#workspaces button {
    padding: 0px 7px;
    margin: 0px 2px;
    border: solid 2px #83a598;
    background-color: transparent;
    color: #83a598;
    border-radius: 0;
}

#workspaces button:first-child,
#workspaces button:last-child {
    border-radius: 0;
}

#workspaces button:hover {
    background-color: #1d2021;
    color: #ebdbb2;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: #1d2021;
    color: #EA6962;
}

#workspaces button.urgent {
    background-color: #EA6962;
    color: #fbf1c7;
}

#tags {
    background-color: #1d2021;
    border-radius: 0;
    border: none; 
    margin: 0px -5px 0px -5px;
    padding: 0 7px;
}

#tags button {
    padding: 0px 9px;
    margin: 0px 2px;
    border: solid 2px #83a598;
    background-color: transparent;
    color: #83a598;
    border-radius: 0;
}

#tags button:first-child,
#tags button:last-child {
    border-radius: 0;
}

#tags button:hover {
    background-color: #1d2021;
    color: #ebdbb2;
}

#tags button.focused,
#tags button.active {
    background-color: #1d2021;
    color: #EA6962;
}

#tags button.urgent {
    background-color: #EA6962;
    color: #fbf1c7;
}

#backlight {
    background-color: #1d2021;
    border: solid 2px #a9b665;
    color: #ebdbb2;
    padding: 0 7px;
    margin: 0;
}

#mpd {
    background-color: #1d2021;
    border: solid 2px #A9B665;
    color: #ebdbb2;
    padding: 0 7px;
    margin: 0;
}

#mpris {
    background-color: #1d2021;
    border: solid 2px #A9B665;
    color: #ebdbb2;
    padding: 0 7px;
    margin: 0;
}

#memory {
    background-color: #1d2021;
    border: solid 2px #E78A4E;
    color: #ebdbb2;
    padding: 0 7px;
    margin: 0;
}

#battery {
    background-color: #1d2021;
    border: solid 2px #d3869b;
    color: #ebdbb2;
    padding: 0 7px;
    margin: 0;
}

#battery.charging,
#battery.plugged {
    color: #ebdbb2;
    background-color: #1d2021;
}

#battery.critical:not(.charging) {
    background-color: #EA6962;
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    background-color: #1d2021;
    border: solid 2px #d8a657;
    color: #ebdbb2;
    padding: 0 7px;
    margin: 0;
}

#pulseaudio {
    background-color: #1d2021;
    border: solid 2px #83a598;
    color: #ebdbb2;
    padding: 0 7px;
    margin: 0;
}

#clock {
    color: #ebdbb2;
    border: solid 2px #ea6962;
    background-color: #1d2021;
    padding: 0 7px;
    margin: 0;
}

#pulseaudio.muted {
    background-color: #1d2021;
    color: #ebdbb2;
}

#cava {
    background-color: #1d2021;
    color: #ebdbb2;
    font-family: "IosevkaTerm Nerd Font Propo";
    border: solid 2px #83a598;
    padding: 0 7px;
    margin: 0;
}

@keyframes blink {
    to {
        background-color: #fbf1c7;
        color: #1d2021;
    }
}

.modules-left > widget:first-child > #tags,
.modules-right > widget:last-child > #tags {
    margin: 0;
}
