* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

window#waybar {
    background: transparent;
    color: #c0caf5;
    border-radius: 9px;
    margin: 12px 100px;
}

/* Base module styling */
#window,
#custom-media,
#mpd,
#idle_inhibitor,
#pulseaudio,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#backlight,
#keyboard-state,
#sway-language,
#battery,
#clock,
#tray,
#custom-launcher,
#custom-power {
    background-color: #1a1b26;
    color: #f7768e;
    border-radius: 3px;
    border: solid 2px;
    border-color: #7aa2f7;
    padding: 5px 10px;
    margin: 8px 4px;
}

#custom-launcher {
    padding: 5px 12px;
}

/* Workspaces container */
#workspaces {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 8px 4px;
}

#workspaces button {
    padding: 0 8px;
    border: solid 2px;
    border-color: #7aa2f7;
    background-color: #1a1b26;
    color: #7aa2f7;
    border-radius: 3px;
    margin: 0 2px;
}

#workspaces button:hover {
    background: #7aa2f7;
    color: #c0caf5;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: #1a1b26;
    color: #f7768e;
}

#workspaces button.urgent {
    background-color: #f7768e;
    color: #c0caf5;
}

/* Module-specific coloring */
#backlight {
    background-color: #1a1b26;
    color: #9ece6a;
}

#memory {
    background-color: #1a1b26;
    color: #e0af68;
}

#battery {
    background-color: #1a1b26;
    color: #bb9af7;
}

#battery.charging,
#battery.plugged {
    color: #c0caf5;
    background-color: #9ece6a;
}

#battery.critical:not(.charging) {
    background-color: #f7768e;
    color: #c0caf5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    background-color: #1a1b26;
    color: #7dcfff;
}

#pulseaudio {
    background-color: #1a1b26;
    color: #9ece6a;
}

#pulseaudio.muted {
    background-color: #565f89;
    color: #c0caf5;
}

/* Optional visualizer (cava) */
#cava {
    background-color: #1a1b26;
    color: #7aa2f7;
    border-radius: 3px;
    font-family: "Iosevka Nerd Font";
    border: solid 2px;
    border-color: #7aa2f7;
    padding: 2px 12px;
    margin: 8px 4px;
}

@keyframes blink {
    to {
        background-color: #c0caf5;
        color: #1a1b26;
    }
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

